<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>my-app</title>
    <meta name="description" content="my-app description">

    <!-- See https://goo.gl/OOhYW5 -->
    <link rel="manifest" href="/manifest.json">

    <!-- 载入platform.js文件确保所有浏览器都能使用web components提供的API -->
    <script src="/bower_components/platform/platform.js"></script>

    <!-- <link rel="import" href="/bower_components/polymer/polymer-element.html"> -->
    <!-- <script src="/bower_components/webcomponentsjs/webcomponents-loader.js"></script> -->

    <!-- 引入组件 -->
    <link rel="import" href="/src/demo/name-card.html">
    <link rel="import" href="/src/demo/x-custom.html">
    <link rel="import" href="/src/demo/v-change.html">
    <link rel="import" href="/src/demo/vv-change.html">
    <link rel="import" href="/src/demo/vvv-change.html">
    <link rel="import" href="/src/demo/vvvv-change.html">
    <!-- 全局样式 -->
    <style>

    </style>
  </head>
  <body>
    <!-- 组件使用 -->
    polymer的数据系统主要有以下三点<br>
    1.观察:数据更改时调用回调。<br>
    2.计算属性:基于其他属性计算的虚拟属性，并在输入数据更改时重新计算。<br>
    3.数据绑定:当数据更改时，更新DOM节点的属性，属性或文本内容的注释。<br><br>

    <name-card></name-card><br><br>

    1.polymer提供了对子属性和数组进行可观察的更改的方法：<br>
    // mutate an object observably<br>
    this.set('address.street', 'Half Moon Street');<br>

    // mutate an array observably<br>
    this.push('users', { name: 'Maturin'});<br>

    2.在某些情况下，您无法使用Polymer方法来更改对象和数组（例如，如果您使用的是第三方库）。在这种情况下，您可以使用 notifyPath和 notifySplices 方法通知元素有关已发生的更改<br>
    // Notify Polymer that the value has changed<br>
    this.notifyPath('address.street');<br>

    3.您可以使用该setProperties方法原子地设置多个属性。<br>

    this.setProperties({item: 'Orange', count: 12 });<br>

    4.自动，允许向上（目标主机）和向下（主机到目标）数据流。自动绑定使用双大括号（{{ }}）<br>
      单向，只允许向下的数据流。向上数据流被禁用。单向绑定使用双方括号（[[ ]]）<br>

    5.示例属性定义<br>
    properties: {<br>
      // default prop, read/write, non-notifying.<br>
      basicProp: {<br>
      },<br>
      // read/write, notifying<br>
      notifyingProp: {<br>
        notify: true<br>
      },<br>
      // read-only, notifying<br>
      fancyProp: {<br>
        readOnly: true,<br>
        notify: true<br>
      }<br>
    }<br>



    6.简单观察(observer),单，双向绑定以及计算属性的运用<br><br>

    <x-custom></x-custom><br><br>

    7.多个属性的观察<br><br>

    <v-change></v-change><br><br>

    8.子属性的观察<br><br>

    <vv-change></vv-change><br><br>

    9.数组变化的观察<br><br>

    <vvv-change></vvv-change><br><br>

    10.针对所有path相关变化的观察<br><br>

    <vvvv-change></vvvv-change><br><br>

    11.动态添加观察者和计算属性<br><br>


    动态添加一个简单的观察者<br><br>

    您可以使用_createPropertyObserver实例方法动态创建一个简单的观察者。例如：<br>

    this._observedPropertyChanged = (newVal) => { console.log('observedProperty changed to ' + newVal); };<br>
    this._createPropertyObserver('observedProperty', '_observedPropertyChanged', true);```<br>
    可选的第三个参数确定方法本身（在这种情况下_observedPropertyChanged）是否应被视为依赖关系。<br><br>

    动态添加复杂观察者<br><br>

    您可以使用_createMethodObserver实例方法动态创建计算属性。例如：<br>

    this._createMethodObserver('_observeSeveralProperties(prop1,prop2,prop3)', true);<br>
    可选的第三个参数确定方法本身（在这种情况下_observeSeveralProperties）是否应被视为依赖关系。<br><br>

    动态添加一个计算属性<br><br>

    您可以使用_createComputedProperty实例方法动态创建计算属性。例如：<br>

    this._createComputedProperty('newProperty', '_computeNewProperty(prop1,prop2)', true);<br>
    可选的第三个参数确定方法本身（在这种情况下_computeNewProperty）是否应被视为依赖关系<br>


<br><br><br><br><br><br><br><br><br>

  </body>
</html>
