<link rel="import" href="../../bower_components/polymer/polymer-element.html">


<!-- 组件全局点击 -->

<dom-module id="demo-3">
  <template>
      <style>
      :host {
        display: block;
      }
    </style>

    <div>
    <h2>Click Me 3</h2>
    <p>just click me</p>
    </div>

  </template>
  <script>
    class Demo3 extends Polymer.Element {

      static get is() {return 'demo-3'}

      ready() {
        super.ready();
        //1.使用一个箭头函数来确保使用该元素作为this值来调用侦听器
        this.addEventListener('click', e => this._myClickListener(e));
      }

      _myClickListener(e) {
        console.log("执行了demo-3的点击");
      }


    }
    customElements.define(Demo3.is, Demo3);
  </script>
</dom-module>

