<link rel="import" href="../../bower_components/polymer/polymer-element.html">


<!-- 通过on-click来绑定点击事件和执行自定义事件 -->

<dom-module id="demo-1">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    
    <button on-click="handleClick">Click Me 1</button>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class Demo1 extends Polymer.Element {
      static get is() { return 'demo-1'; }
      //1.绑定自定义事件
      handleClick(e) {
        console.log("我绑定了kick事件");
        this.dispatchEvent(new CustomEvent('kick', {detail: {kicked: true}}));
      }
    }

    //2.执行自定义事件
    document.querySelector('demo-1').addEventListener('kick', function (e) {
        console.log(e.detail.kicked); 
    })

    window.customElements.define(Demo1.is, Demo1);
  </script>
</dom-module>
