<link rel="import" href="../../bower_components/polymer/polymer-element.html">


<!-- 通过addEventListener来监听事件 -->

<dom-module id="demo-2">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <button id="myButton">Click Me 2</button>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class Demo2 extends Polymer.Element {
      static get is() { return 'demo-2'; }
      
      ready() {
        super.ready();
        //1.添加监听器
        this.$.myButton.addEventListener('click', e => {this._handleClick(e)});
      }

      //2.执行监听事件
      _handleClick(e) {
        console.info(e.target.id + ' was clicked');
      }
    }

    window.customElements.define(Demo2.is, Demo2);
  </script>
</dom-module>
