<link rel="import" href="../../bower_components/polymer/polymer-element.html">


<!-- 使用addEventListener和removeEventListener添加和删除监听器 -->

<dom-module id="demo-4">
  <template>
    <style>
    :host {
      display: block;
    }
    </style>
    <button on-click="_boundListener" >Click Me 4</button>
  </template>
  <script>
    class Demo4 extends Polymer.Element {

      static get is() {return 'demo-4'}


      //将事件侦听器添加到其本身或其一个阴影DOM子元素中的元素不应阻止该元素被垃圾回收。但是，附加到外部元素（如窗口或文档级别事件侦听器）的事件侦听器可能会阻止元素被垃圾回收。删除事件侦听器disconnectedCallback以防止内存泄漏

      _myLocationListener() {
        console.info('this was clicked');
      }

      constructor() {
        super();
        this._boundListener = this._myLocationListener.bind(this);
      }

      connectedCallback() {
        super.connectedCallback();
        window.addEventListener('hashchange', this._boundListener);
      }

      disconnectedCallback() {
        super.disconnectedCallback();
        window.removeEventListener('hashchange', this._boundListener);
      }

    }

    customElements.define(Demo4.is, Demo4);
  </script>
</dom-module>

