<dom-module id="event-3">
  <template>
    <style>
    .abc{
      display: block;
      background-color: #ccc;
      width: 200px;
      height: 50px;
    }

    </style>
    <div id='test'>

    </div>

  </template>

  <script>
    class Event3 extends Polymer.Element {

      static get is() { return 'event-3'; }

      static get properties() {
        return {
          prop: {
            type: Number
          },
        }
      }

      ready() {
        super.ready();
        let num = parseInt(this.prop);
        for(let i=1;i<=num;i++){
          let item = document.createElement('slot');
          let str = "test"+i;
          item.name = str;
          this.$.test.appendChild(item);
        }
      }


    }

    customElements.define(Event3.is, Event3);
  </script>

</dom-module>