<dom-module id="event-2">
  <template>
    <style>

    </style>
    <div>
    <table border="1">
      <tr><th>菜名</th><th>数量</th><th>更多</th></tr>
      <template is="dom-repeat" items="{{eventobj}}">
        <tr><td>{{item.title}}</td><td>{{item.num}}</td><td>{{item.more}}</td></tr>
      </template>
    </table>
    </div>

  </template>

  <script>
    class Event2 extends Polymer.Element {

      static get is() { return 'event-2'; }

      static get properties() {
        return {
          eventstr: {
            type: String
          },
          eventobj: {
            type: Array
          }
        }
      }

      ready() {
        super.ready();
        let Arr = this.eventstr.split('|');
        if(this.eventstr===''){
          this.$.eventstr.style.display = "none";
        }else{
          this.eventobj = [];
          for(let i=0;i<Arr.length;i++){
            let ju = eval('(' + Arr[i] + ')');
            this.eventobj.push(ju);
          }
        } 
      }

    }

    customElements.define(Event2.is, Event2);
  </script>

</dom-module>