<dom-module id="event-1">
  <template>
    <style>
      .a{
        width: 200px;
        height: 200px;
        background-color: green;
      }
      .b{
        width: 50px;
        height: 50px;
        background-color: red;
      }
    </style>
    <div class="a" on-click="a">
      <div class="b" on-click="b"></div>
    </div>

  </template>

  <script>
    class Event1 extends Polymer.Element {

      static get is() { return 'event-1'; }

      static get properties() {
        return {
          employees: {
            type: Array
          }
        }
      }

      a() {
        console.log('111');
      }

      b() {
        if (event.stopPropagation){
          event.stopPropagation();
        }
        else if(window.event){
          window.event.cancelBubble=true;
        }
        console.log('222');
      }

    }

    customElements.define(Event1.is, Event1);
  </script>

</dom-module>