<dom-module id="helper-6">

<template>
  <div> Employee list: </div>
    <template is="dom-repeat" items="{{employees}}" as="employee">
      <template is="dom-if" if="{{employee.isAdmin}}">
        <!-- Only admins will see this. -->
          <div>{{employee.lastname}}, {{employee.firstname}}</div>

      </template>
    </template>

</template>

  <script>
    class Helper6 extends Polymer.Element {

      static get is() { return 'helper-6'; }

      static get properties() {
        return {
          employees: {
            type: Object,
            value() {
              return [
                { firstname: "Jack", lastname: "Aubrey", isAdmin: true },
                { firstname: "Anne", lastname: "Elliot", isAdmin: false }
              ]
            }
          }
        }
      }

    }

    customElements.define(Helper6.is, Helper6);
  </script>

</dom-module>