<dom-module id="helper-4">

<template>
	<div> Employee list: </div>
	<template is="dom-repeat" items="{{employees}}" as="employee">
	    <div>First name: <span>{{employee.first}}</span></div>
	    <div>Last name: <span>{{employee.last}}</span></div>

	    <div>Direct reports:</div>

	    <template is="dom-repeat" items="{{employee.reports}}" as="report" index-as="report_no">
	      <div><span>{{report_no}}</span>.
	           <span>{{report.first}}</span> <span>{{report.last}}</span>
	      </div>
	    </template>

    <br>
	</template>
</template>


  <script>
    class Helper4 extends Polymer.Element {

      static get is() { return 'helper-4'; }

      static get properties() {
        return {
          employees: {
            type: Array,
            value() {
              return [
                { first: "JACK", last: "AUBREY", reports: [{first: "jack", last: "aubrey"},{first: "jack", last: "aubrey"}] },
                { first: "ANNE", last: "ELLIOT", reports: [{first: "anne", last: "elliot"}] },
              ]
            }
          }
        }
      }

    }

    customElements.define(Helper4.is, Helper4);
  </script>

</dom-module>