<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="name-card">
  <template>
    <div style$="color:{{color}}">[[name.first]] [[name.last]]</div>
  </template>
  <script>
    class NameCard extends Polymer.Element {
      static get is() { return "name-card"; }
      constructor() {
        super();
        this.name = {first: 'Kai', last: 'Li'};
        this.color = "red";
      }
    }
    customElements.define(NameCard.is, NameCard);
  </script>
</dom-module>