<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!-- 添加手势支持 -->
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">
<dom-module id="tap-me">
  <template>
    <style>
      :host {
        width: 600px;
        height: 200px;
        border: 1px solid #000;
      }
    </style>
    <div>
    Tap me!
    I've been tapped [[count]] times.
    </div>
  </template>

  <script>
    class TapMe extends Polymer.GestureEventListeners(Polymer.Element) {

      static get is() {return 'tap-me'}

      constructor() {
        super();
        this.count = 0;
        Polymer.Gestures.addListener(this, 'tap', e => this.handleTap(e));
      }

      handleTap(e) {
        this.count++;
      }
    }

    customElements.define(TapMe.is, TapMe);
  </script>
</dom-module>