<dom-module id="v-change">

  <template>
    <input type="text" name="" value="{{preload::input}}"/><br>
    <input type="text" name="" value="{{src::input}}"/><br>
    <input type="text" name="" value="{{size::input}}"/><br>
  </template>

  <script>

    class VChange extends Polymer.Element {

      static get is() {return 'v-change'; }

      static get properties() {
        return {
            preload: String,
            src: String,
            size: String
        }
      }

      // Each item of observers array is a method name followed by
      // a comma-separated list of one or more dependencies.
      static get observers() {
        return [
            'updateImage(preload, src, size)'
        ]
      }

      // Each method referenced in observers must be defined in
      // element prototype. The arguments to the method are new value
      // of each dependency, and may be undefined.
      updateImage(preload, src, size) {
        console.log('观察到变化了');
        // ... do work using dependent values
      }

    }

    customElements.define(VChange.is, VChange);

  </script>

</dom-module>