<dom-module id="vvv-change">
  <template>
    <!-- Sub-property is updated via property binding. -->
    <input value="{{user::input}}">
  </template>
  <script>
    // indexSplices。数组中发生的一组更改，就数组索引而言。每个indexSplices记录包含以下属性：
    // index。接头开始位置。
    // removed。removed项目数组。
    // addedCount。插入的新物品数量index。
    // object：对该数组的引用。
    // type：字符串文字拼接


    class Vvvchange extends Polymer.Element {

      static get is() {return 'vvv-change'; }

      static get properties() {
        return {
          users: {
            type: Array,
            value: function() {
              return [];
            }
          }
        }
      }

      // Observe changes to the users array
      static get observers() {
        return [
          'usersAddedOrRemoved(users.splices)'
        ]
      }


      // For an array mutation dependency, the corresponding argument is a change record
      usersAddedOrRemoved(changeRecord) {
        if (changeRecord) {
          changeRecord.indexSplices.forEach(function(s) {
            s.removed.forEach(function(user) {
              console.log(user.name + ' was removed');
            });
            for (var i=0; i<s.addedCount; i++) {
              var index = s.index + i;
              var newUser = s.object[index];
              console.log('User ' + newUser.name + ' added at index ' + index);
            }
          }, this);
        }
      }

      ready() {
        super.ready();
        this.push('users', {name: "Jack Aubrey"});
        this.push('users', {name: "Tom Allen"});
      }
    }

    customElements.define(Vvvchange.is, Vvvchange);

  </script>
</dom-module>





