<dom-module id="x-custom">

  <template>
    <input type="text" name="" value="{{first::input}}"/>

    <input type="text" name="" value="{{last::input}}"/>

    <h2>[[first]] [[last]]</h2>

    My name is <span>{{fullName}}</span>
  </template>

  <script>
    class XCustom extends Polymer.Element {

      static get is() { return 'x-custom'; }

      static get properties() {
        return {
          first: {
            type: String,
            value: 'Tom',
            observer: '_activeChanged'
          },  
          
          last: {
            type: String,
            value: 'Allen'
          },

          fullName: {
            type: String,
            value: 'luckey',
            // when `first` or `last` changes `computeFullName` is called once
            // and the value it returns is stored as `fullName`
            computed: 'computeFullName(first, last)'
          }
        }
      }

      computeFullName(first, last) {
        return first + ' ' + last;
      }

      _activeChanged(newValue, oldValue) {
        console.log("我变成了"+newValue);
      }

    }

    customElements.define(XCustom.is, XCustom);
  </script>

</dom-module>