<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<!-- 基本属性定义，样式的渲染以及占位符，插槽的使用 -->

<dom-module id="my-app-app">
  <template>
    <style>
      :host {
        display: block;
        --color: red;
      }
      .abc{
        color: var(--color);
        font-size: 14px;
      }
/*      ::slotted(*) {
        color: blue;
      }*/
    </style>
      <slot></slot>
      <slot name="title"></slot>
      <h2 id="abc" class="abc">Hello [[prop1.b]]!</h2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MyAppApp extends Polymer.Element {
      static get is() { return 'my-app-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: {'a':'my-app-app','b':'polymer','c':'sasasassa'}
          }
        };
      }

      ready() {
        super.ready();
        this.$.abc.style.fontSize = '20px';
      }
    }

    window.customElements.define(MyAppApp.is, MyAppApp);
  </script>
</dom-module>
